.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  background-color: #1d1c1c;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #a18b0f;
}

.logo {
  flex-shrink: 0;
  max-width: 200px;
  height: auto;
}

.navbar {
  display: flex;
  width: auto;
  color: var(--text-color) !important;
  font-family: 'Sovjet Box';
}

.navbar-toggler-icon {
  background-color: var(--background-color) !important;
  padding: 1rem;
  border: 1px solid var(--border-color) !important;
}

.dropdown-menu {
  background-color: var(--primary-color);
  padding: 0 !important;
}

.dropdown-menu:hover {
  background-color: var(--primary-color) !important;
}

.nav-link,
.nav-link:visited {
  font-family: 'Sovjet Box' !important;
  color: var(--primary-color) !important;
  transition: color 0.3s ease;
}

.nav-link:hover,
.dropdown-item:hover {
  color: var(--text-color) !important;
}

.dropdown-menu,
.dropdown-item {
  background-color: var(--background-color) !important;
  transition: var(--background-color) 0.3s ease;
  color: var(--primary-color) !important;
  border: 0.1rem solid var(--primary-color) !important;
}

.dropdown-menu .dropdown-item:first-child {
  border-top: none !important;
}

.dropdown-menu .dropdown-item:last-child {
  border-bottom: none !important;
}

.dropdown-item:hover {
  background-color: var(--hover-background-color) !important;
  color: var(--text-color) !important;
}

@media (max-width: 992px) {
  .header {
    flex-direction: column;
  }

  .navbar-toggler {
    margin-bottom: 0.5rem;
  }

  .navbar-collapse {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: center;
  }

  .nav {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .logo {
    max-width: 175px;
  }

  .navbar-toggler .collapsed {
    background-color: #fff;
  }
}
