/* General table styles */
.DataTable {
  width: auto;
  margin-top: 1rem !important;
  margin-bottom: 2rem !important;
  margin: 0 auto;
  font-family: "Sovjet Box", sans-serif; /* Align with the global font */
  padding: 2rem;
}

.DataTable th {
    font-size: 1rem; /* Adjusted font size */
    padding: 0.5rem; /* Adjusted padding */
    text-align: center;
    color: var(--primary-color); /* Header font color using global variable */
    border: 1px solid var(--border-color) !important; /* Using global variable for border color */
}
.DataTable td {
    font-size: .75rem;
  padding: 0.5rem; /* Adjusted padding */
  text-align: center;
  color: var(--text-color);
  border: 1px solid var(--border-color) !important; /* Using global variable for border color */
}

.DataTable th {
  background-color: #000; /* Header background using global variable */
  color: var(--primary-color); /* Header font color using global variable */
}

/* Styling for alternating rows */
.DataTable tr:nth-child(odd) {
  background-color: var(
    --background-color
  ); /* Odd rows will use the main background color */
}

.DataTable tr:nth-child(even) {
  background-color: #2f2f2f; /* Even rows will use a slightly lighter shade for contrast */
}

.DataTable tr:hover {
  background-color: var(--hover-background-color); /* Hover state for rows */
  cursor: pointer;
}

/* Card layout adjustments to match table styles */
.card-layout {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 0.25rem;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.card {
  width: auto;
  margin: 0 auto;
  border: 0px !important;
  background-color: #222222 !important;
  transition: background-color 0.3s; /* Smooth transition for hover */
}

/* Alternating background colors for cards */

.card-row:hover {
  background-color: var(
    --hover-background-color
  ) !important; /* Hover state for cards */
}

.card-row {
  justify-content: space-between;
  border-radius: 1rem;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid var(--border-color); /* Adds a border to each card-row for separation */
  color: var(--text-color); /* Text color */
}
.card-row:nth-of-type(odd) {
  background-color: var(
    --background-color
  ); /* Odd cards will use the main background color */
}

.card-row:nth-of-type(even) {
  background-color: #2f2f2f; /* Even cards will use a slightly darker shade for contrast */
}
.card-row:last-child {
}

.card-row-header {
  font-family: "Sovjet Box", sans-serif;
  color: var(--primary-color) !important;
  text-align: center !important;
  padding-right: 1rem;
}

.card-row-data {
  justify-content: flex-start !important;
  color: var(--text-color) !important;
}

/* Responsive adjustments */
@media (max-width: 995px) {
  .DataTable .column-hidden,
  .card .column-hidden {
    display: none; /* Hides non-essential columns/cards on smaller screens */
  }
  .DataTable {
    width: 100%; /* Adjusts width to 100% for smaller screens */
  }
  .card {
    font-size: 0.75rem !important;
    width: 100%; /* Adjusts width to 100% for smaller screens */
  }
  .card-row {
    padding: auto;
  }
}

@media (max-width: 480px) {
  .card,
  .card-layout,
  .DataTable {
    padding: 0;
    width: 100%; /* Adjusts width to 100% for very small screens */
  }
  .card-row {
    padding: 0.1rem;
  }
  .card-row-header {
    padding-left: 0.25rem;
    padding-top: 0.1rem;
  }
  .card-row-data {
    padding-left: 0.25rem;
    padding-bottom: 0.1rem;
    padding-right: 0.25rem;
  }
}
