/* TournamentList.css */
.tournaments-list-container {
    max-width: 98%;
    flex-direction: column;
    overflow-y: auto!important;
    margin: auto;
  }
  
  .tournaments-list {
    display: inline-flex;
    min-width: 97%;
    justify-content: space-between;
    margin-right: 1em;
    margin-left: 1em;
    min-height: 70em;
  }
  