@font-face {
  font-family: 'Sovjet Box Bold';
  src: url('../public/SovjetBoxBd_v0_9.otf') format('opentype');
}

@font-face {
  font-family: 'Sovjet Box';
  src: url('../public/SovjetBoxSC_v0_9.otf') format('opentype');
}
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #222222;
}

::-webkit-scrollbar-thumb {
  background-color: #b66803;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}



.logo {
  max-width: 175px; /* Adjust the size as needed */
  height: auto;
  margin: auto;
}

.nav {
  margin-right: 5rem;
}



.nav-link {
  margin: 0 5px;
  border: 1px solid #a18b0f;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #272727;
  border-radius: 3px;
}

.dropdown-menu {
  background-color: #343a40; /* Change this to your preferred background color */
}

.dropdown-item {
  color: #a18b0f; /* Change this to your preferred text color */
    border: 1px solid #a18b0f;
    background-color: #343a40; /* Change this to your preferred background color */
}

.dropdown-item:hover {
  color: #a18b0f; /* Change this to your preferred hover text color */
  background-color: #272727; /* Change this to your preferred hover background color */
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}


.custom-select {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #272727;
  color: #a18b0f;
  border: 1px solid #a18b0f;
  border-radius: 5px;
  text-align: left; /* Center input text */
}

.custom-select::placeholder {
  color: #a18b0f;
}


.tournaments-list-container {
  max-width: 98%;
  flex-direction: column;
  overflow-y: auto!important;
  margin: auto;
}

.tournaments-list {
  display: inline-flex;
  min-width: 97%;
  justify-content: space-between;
  margin-right: 1em;
  margin-left: 1em;
  min-height: 70em;
}

.tournaments-column {
  width: 22%; 
  margin-right: 2%; 
  background: #222222;
  color: #b66803;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 20px 0px #b66803;
  overflow-wrap: break-word;
}

.tournament-item {
  color: #b66803;
  background-color: #272726;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  text-align: center;
  height: 30em;
  overflow-x: auto;
  max-width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tournament-item-details {
  text-align: left;
  font-size: .85em;

}

.tournament-link {
  color:#8b6129 !important;
  text-decoration-line: none !important;

}

.tournament-link:hover {
  color: #dacd1c!important; 
}

.tournament-item h3 {
  margin-top: .5em;
}

.tournament-item p {
 margin-bottom: .5em !important;
}

.tournament-view-button {
  display: block;
  width: 50%;
  margin: 1em auto;
  padding: .4em;
  text-align: center;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em;
  background-color: #222222;
  color: #8b6129;
}

.tournament-view-button:hover {
  background-color: #8b6129;
  color: #222222;
}



.tournament-section {
  background-color: #222222;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 95%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.tournament-details {
  color: #b66803;
  background-color: #222222;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  width: calc(75% - 20px); /* Adjust the width to fit 3 boxes per row */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.tournament-info {
  margin-top: 25px;
  margin-bottom: 10px;
}

.tournament-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.tournament-info p {
  margin-bottom: 5px;
}

.tournament-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-register,
.btn-registered-teams {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #a18b0f;
  color: #a18b0f;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-register:hover,
.btn-registered-teams:hover {
  background-color: #645e0a;
}
.chat-container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 85%;
  border: 1px solid #a18b0f;
  border-radius: 5px;
  margin: auto;
  overflow-y: auto;
}

.chat-messages-even {
  flex-grow: 1;
  text-align: left;
  background-color:#272726;
  border: 1px solid #a18b0f;
}
.chat-messages-odd {
  flex-grow: 1;
  text-align: left;
  border: 1px solid #a18b0f;
}

.chat-messages a{
  color: #b66803 !important;
}
.chat-messages a:hover{
  color: #dacd1c !important;
}

.chat-messages:hover {
  color: #a18b0f !important;
  background-color: #000000;
}


.chat-message {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #b66803;
}

.chat-input {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width:85%;
  border-top: 1px solid #a18b0f;

}

.chat-input input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  width: 80%;
}

.chat-input button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5%;
  height: 2em;
  border-radius: 5px;
  padding: auto;
}

.chat-timestamp {
  color: #777;
}

.table-wrapper {
  overflow-x: auto;
}


.players-search {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 75%;

}

.players-search select,
.players-search input,
.players-search button {
  flex: 1;
  margin: 10px;
  padding: 10px;
}

.player-statistics,
.player-profile {
  color: #b66803;
  background-color: #272726;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.players-list {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.player-item {
  background-color: #272726;
  border-radius: 10px;
  padding: 20px;
}


.player-item p {
  margin: 0;

}

.player-lookup-link {
  font-family: 'Sovjet Box Bold';
  font-size: 1.5em;
  color: #000000;
  text-decoration: underline;
}

.player-lookup-link:hover {
  font-family: 'Sovjet Box Bold';
  font-size: 1.5em;
  color: #000000;
  text-decoration: overline;
}

.players-select-input {
  width: 200px;
  padding: 10px;
  margin-right: 10px;
  background-color: #272727;
  color: #a18b0f;
  border: 1px solid #a18b0f;
  border-radius: 5px;
  text-align: left;
}

.players-text-input {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  background-color: #272727;
  color: #a18b0f;
  border: 1px solid #a18b0f;
  border-radius: 5px;
  text-align: left;
}

.players-button {
  padding: 10px 20px;
  background-color: #a18b0f;
  color: #272727;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.players-hr {
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #a18b0f;
}

.rules-section {
  background-color: #222222;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.rules-list {
  padding: 20px;
}

.rules-list h3 {
  margin: 20px 0;
  margin-top: 35px;
}

.rules-list ul {
  list-style-type: disc;
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 40px;
  text-align: left;
  color: #b66803;
}

.ZLeaguePage {
  padding: 20px;
  display: block;
  width: 80% !important;
}

.ZLeaguePage span {
  font-family: 'Sovjet Box';
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    color: #a18b0f;
    background-color: #272726;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #b66803;
  }
  
.ZLeaguePage span:hover {
    background-color: #000000;
    color:#b66803;
  }
  
.ZLeaguePage span.selected {
  font-family: 'Sovjet Box Bold';
    background-color: #b66803;
    color:#000000;
    border: 2.5px solid #000000;
  }


    
    .TournamentsSpan {
      font-family: 'Sovjet Box';
        display: inline-block;
        padding: 8px 16px;
        margin: 5px;
        color: #a18b0f;
        background-color: #272726;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        border: 1px solid #b66803;
      }
      
    .TournamentsSpan:hover {
        background-color: #000000;
        color:#b66803;
      }
      
    .TournamentsSpan.selected {
      font-family: 'Sovjet Box Bold';
        background-color: #b66803;
        color:#000000;
        border: 2.5px solid #000000;
      }

.general-link {
      font-family: 'Sovjet Box Bold', sans-serif !important;
      color:#b66803;
      text-decoration: underline;
    }
    
.general-link:hover {
      font-family: 'Sovjet Box Bold', sans-serif;
      color:#000000;
      text-decoration: overline;
    }

    .general-link-reverse {
      font-family: 'Sovjet Box Bold', sans-serif !important;
      color:#000000;
      text-decoration: underline;
    }
    
.general-link-reverse:hover {
      font-family: 'Sovjet Box Bold', sans-serif;
      color:#b66803;
      text-decoration: overline;
    }