:root {
    --primary-color: #b66803;
    --background-color: #272727;
    --secondary-background-color: #1a1611;
    --text-color: #a18b0f;
    --hover-background-color: #000000;
    --border-color: #b66803;
    --link-color: #b37b32;

      /* Responsive breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 995px;
  }
  
  