:root {
    --primary-color: #ff9100;
    --background-color: #272727;
    --secondary-background-color: #201d19;
    --text-color: #fdc243;
    --hover-background-color: #524d42;
    --border-color: #b66803;
    --link-color: #ff6600;

      /* Responsive breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 995px;
  }
  
  